<form [formGroup]="porozumienieForm" (ngSubmit)="onSubmit()">
  <div>
    <button [disabled]="porozumienieForm.invalid" class="btn btn-success  btn-lg btn-block" type="submit">Wyślij
    </button>
  </div>

  <body class="a4">

  <h6>Załącznik nr 2 do Regulaminu praktyk zawodowych</h6>
  <br/>

  <div class="multiLineTitle">
    <h3>Porozumienie</h3>
    <h3>w sprawie organizacji zawodowej praktyki studenckiej ciągłej</h3>
  </div>

  <br/>
  <div id="content">
    <div>
      <div>
        <div>
          zawarte dnia …………………………….. w Siedlcach, pomiędzy Uniwersytetem Przyrodniczo-Humanistycznym w
          Siedlcach z siedzibą przy ul. Konarskiego 2, zwanym dalej Uniwersytetem, reprezentowanym na podstawie
          udzielonego przez Rektora UPH pełnomocnictwa przez Dziekana Wydziału Nauk Ścisłych a
          <div class="highLetters inline">
            <span><input type="text" formControlName="companyName" placeholder="Company name" style="width: 670px"
                         required/></span>
          </div>
        </div>
        <div>
          <div class="highLetters">
                    <span>
                        <span style=" width: 30%">z siedzibą w: </span>
                        <span style="  width: 70% "
                        ><input type="text" formControlName="companyLocationCity" placeholder="City" required/></span>
                    </span>
            <span>
                        <span style="width: 18% ">przy ul.</span>
                        <span style="font-family: 'arialbd';width: 82%">
                             <input type="text" formControlName="companyLocationStreet" placeholder="City"
                                    required/></span>
                    </span>
          </div>

          której reprezentantem/tką jest:
          <div class="highLetters inline"><span style="width: auto"><input type="text"
                                                                           formControlName="companyRepresentantName"
                                                                           placeholder="First Name" required/><input
            type="text" formControlName="companyRepresentantSurname" placeholder="Surname" required/></span>
          </div>
          zwanym dalej Zakładem Pracy, o następującej treści:
        </div>
      </div>
    </div>

    <div id="bottom-content">
      <h4>§1</h4>

      Uniwersytet kieruje niżej wymienionych studentów kierunku Informatyka
      specjalności <span> <input type="text" formControlName="studentSpecialization"
                                 placeholder="Student Specialization" required/> </span>
      na <span> <input type="number" formControlName="studentInternshipDuration" placeholder="Internship Duration"
                       required/> </span> -tygodniową praktykę zawodową:

      <br><br>
      <table style="width: 100%; border: 1px solid black">
        <tr>
          <td>Nazwisko i imię studenta</td>
          <td>Forma studiów</td>
          <td>Okres praktyki</td>
        </tr>
        <tr>
          <td><input type="text" formControlName="studentName" placeholder="First Name" required/><input type="text"
                                                                                                         formControlName="studentSurname"
                                                                                                         placeholder="Surname"
                                                                                                         required/></td>
          <td><input type="text" formControlName="studentStudyForm" placeholder="Study Form" required/></td>
          <td><input type="date" formControlName="studentInternshipStart" placeholder="Internship Start" required/> -
            <input type="date" formControlName="studentInternshipEnd" placeholder="InternshipEnd" required/></td>
        </tr>
      </table>

      <h4>§2</h4>
      Zakład pracy zobowiązuje się do:
      <ol>
        <li>powołania opiekuna(ów), pod kierunkiem których student będzie realizować program praktyki;</li>
        <li>zaplanowania odpowiedniej ilości zajęć, aby umożliwić studentowi wykonanie zadań ustalonych w
          programie praktyki;
        </li>
        <li>zapoznanie studentów z regulaminem pracy, przepisami o bezpieczeństwie i higienie pracy oraz o
          ochronie tajemnicy służbowej;
        </li>
        <li>zapewnienia nauczycielowi akademickiemu - opiekunowi praktyki z ramienia Uniwersytetu sprawowania
          nadzoru merytorycznego nad przebiegiem praktyki.
        </li>
      </ol>

      <h4>§3</h4>
      Uniwersytet zobowiązuje się do:
      <ol>
        <li>opracowania programu praktyki i zapoznania z nim studentów,</li>
        <li>sprawowania nadzoru dydaktyczno-wychowawczego i organizacyjnego nad przebiegiem praktyki oraz
          kontroli i oceny praktyki.
        </li>
      </ol>

      <h4>§4</h4>
      Uniwersytet nie ponosi kosztów związanych z odbyciem praktyki.

      <h4>§5</h4>
      Zakład pracy może żądać od Uniwersytetu odwołania z praktyki zawodowej studenta w przypadku naruszenia
      w sposób rażący dyscypliny pracy.

      <h4>§6</h4>
      Sprawy nie uregulowane niniejszym Porozumieniem strony będą rozstrzygać w negocjacjach bezpośrednich.

      <h4>§7</h4>
      Niniejsze porozumienie sporządzone zostało w dwóch jednobrzmiących egzemplarzach po jednym dla każdej ze
      stron.
    </div>

    <br/>
    <br/>
    <br/>
    <div>

      <div>
        <div class="toSignLeft">
          <div>
            ........................................................
          </div>
          <div> (podpis opiekuna praktyki</div>
          <div style=""> z ramienia Uniwersytetu)</div>
        </div>

        <div class="toSignRight">

        </div>
      </div>
      <br>
      <div style="float: none; margin-top: 8em">
        <div class="toSignLeft">
          <div>
            ........................................................
          </div>
          <div>
            (podpis i pieczątka Dziekana)
          </div>
        </div>

        <div class="toSignRight">
          <div>
            ........................................................
          </div>
          <div>
            (podpis i pieczątka przedstawiciela
            podmiotu przyjmującego na praktykę zawodową)
          </div>
        </div>
      </div>
    </div>
  </div>

  </body>


  <div>
    <button [disabled]="porozumienieForm.invalid" class="btn btn-success  btn-lg btn-block" type="submit">Wyślij
    </button>
  </div>
</form>
