<form [formGroup]="zaswiadczenieForm" (ngSubmit)="onSubmit()">


<!--  <div>-->
<!--    <button [disabled]="zaswiadczenieForm.invalid" class="btn btn-success  btn-lg btn-block" type="submit">Wyślij</button>-->
<!--  </div>-->
<!--  <div class="example">-->
<!--    <h3 class="text-danger"> Wypełnij wysztykie pola zaznaczone Czerwoną kreską  <input class="example-invalid" disabled  size="4" /> gdy są zielone znaczy że wsyztko ok <input class=" example-valid" disabled  size="4"/></h3>-->
<!--  </div>-->
  <div *ngIf="!isAdmin">
    <button [disabled]="zaswiadczenieForm.invalid" class="btn btn-success btn-lg btn-block" type="submit"><div *ngIf="zaswiadczenieForm.invalid"><div (click)="check()"><div class="example">
      <h3> Wypełnij wszystkie pola zaznaczone czerwoną kreską <input class="example-invalid" disabled size="4" /> aż zmienią sie na zielone <input class="example-valid" disabled size="4"/></h3>
    </div></div></div> <div *ngIf="zaswiadczenieForm.valid"> Wyślij </div> </button>
  </div>

  <div *ngIf="isAdmin && status != 'DONE'">
    <div  class="btn-group btn-group-lg btn-block">

      <button  class="btn btn-success " type="button" (click)="accept()">Akceptuj</button>
      <button  class="btn btn-danger " type="button" (click)="decline()">Odrzuć</button>
      <button  class="btn btn-warning " type="button" (click)="warning()">Dodaj uwage i odrzuć</button>

    </div>

    <div class="text-center" [ngStyle]="status == 'NEW' && {'background-color':'#2196F3'} ||
     status== 'ACCEPTED' && {'background-color':'#006600'} ||
      status == 'DECLINED' && {'background-color':'#dc3545'}">

      <ng-container *ngIf="status === 'DECLINED';else NEW">
        Odrzucony
      </ng-container>
      <ng-template #NEW>
        <ng-container *ngIf="status === 'NEW';else ACCEPTED">
          Nowy
        </ng-container>
      </ng-template>
      <ng-template #ACCEPTED>
        <ng-container *ngIf="status === 'ACCEPTED';else empty">
          Zaakceptowany
        </ng-container>
      </ng-template>
      <ng-template #empty>
        Brak
      </ng-template>
    </div>
  </div>

  <div class="text-center" [ngStyle]="status == 'DONE' && {'background-color':'#42A948'}">
    <ng-container *ngIf="status === 'DONE'">
      Dokument zaakceptowany, wysłany
    </ng-container>
  </div>


  <body class="a4">

  <div id="content">
    <h6>Załącznik nr 3 do Regulaminu praktyk zawodowych</h6>
    <br/><br/>

    <div>
      <div class="toSignLeft">
        <div>
          ........................................................
        </div>
        <div>
          (Pięczeć zakładu pracy)
        </div>
      </div>

      <div class="toSignRight">
        <div>
          ........................................................
        </div>
        <div>
          (Miejscowość, data)
        </div>
      </div>
    </div>
    <br/> <br/> <br/>

    <h3>ZAŚWIADCZENIE</h3>
    <br/> <br/>
    <div>


      <div>
        Pan(i) <input type="text" formControlName="studentName" placeholder="First name" required/> <input type="text"
                                                                                                           formControlName="studentSurname"
                                                                                                           placeholder="Last name"
                                                                                                           required/>, student(ka)
        kierunku Informatyka
      </div>


      Przebywał(a) na praktyce w naszym przedsiębiorstwie w okresie

      <div>
        od <input type="date" formControlName="studentInternshipStart" placeholder="00.00.0000" required/> do <input type="date"
                                                                                                         formControlName="studentInternshipEnd"
                                                                                                         placeholder="00.00.0000"
                                                                                                         required/>
      </div>
      <br><br>

      <div class="toSignLeft" style="width: 70%">

        Praktykant(ka) otrzymał(a) następujące oceny:


        <ol>
          <li>za przestrzeganie dyscypliny pracy</li>
          <li>merytoryczna ocena pracy (wykonanie przydzielonych zadań)</li>
          <li>umiejętność współpracy z pracownikami przedsiębiorstwa</li>

        </ol>

      </div>

      <div class="toSignRight">
        <div class="mt-3">
          <input type="text" formControlName="studentRating1"
                 placeholder="bardzo dobry, dobry, dostateczny, niedostateczny" required/>
          <input type="text" formControlName="studentRating2"
                 placeholder="bardzo dobry, dobry, dostateczny, niedostateczny" required/>
          <input type="text" formControlName="studentRating3"
                 placeholder="bardzo dobry, dobry, dostateczny, niedostateczny" required/>
        </div>
      </div>

      <br>
      <div>
        Ogólna ocena praktyki: <input type="text" formControlName="studentRating"
                                      placeholder="bardzo dobry, dobry, dostateczny, niedostateczny" required/>
      </div>
      <br>
      <div>
        Praktykant(ka) w trakcie praktyki wykonywał(a) następujące zadania:
      </div>
      <div>
        <textarea rows="5" cols="90" formControlName="studentWorks" required></textarea>
      </div>
      <br>
      <div>
        Praktykant(ka) szczególne zainteresowania/umiejętności wykazał(a) w dziedzinie:
      </div>
      <div>
        <textarea rows="5" cols="90" formControlName="studentInterests" required></textarea>
      </div>

      <br/> <br/>
      <div>
        <div class="toSignLeft">
          <div>
            Pracownik nadzorujący przebieg praktyk <br/> <br/> <br/>
          </div>
          <div>
            ........................................................
          </div>

        </div>
        <div class="toSignRight">
          <div>
            Dyrektor/kierownik <br/> <br/> <br/> <br/>
          </div>
          <div>
            ........................................................
          </div>

        </div>
      </div>

    </div>
  </div>

  </body>

  <div  *ngIf="!isAdmin">
    <button [disabled]="zaswiadczenieForm.invalid" class="btn btn-success btn-lg btn-block" type="submit"><div *ngIf="zaswiadczenieForm.invalid"><div (click)="check()"><div class="example">
      <h3> Wypełnij wszystkie pola zaznaczone czerwoną kreską <input class="example-invalid" disabled size="4" /> aż zmienią sie na zielone <input class="example-valid" disabled size="4"/></h3>
    </div></div></div> <div *ngIf="zaswiadczenieForm.valid"> Wyślij </div> </button>
  </div>

<!--  <div>-->
<!--    <button [disabled]="zaswiadczenieForm.invalid" class="btn btn-success  btn-lg btn-block" type="submit">Wyślij</button>-->
<!--  </div>-->
</form>
