<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Oświadczenie</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="styles/shared.css"/>
</head>

<body>


<div id="content">
    <h6>Załącznik nr 1 do Regulaminu praktyk zawodowych</h6>
    <br/>
    <div>
        <div class="toSignLeft">
            <div>
                ........................................................
            </div>
            <div>
                (pięczeć zakładu pracy)
            </div>
        </div>

        <div class="toSignRight">
            <div>
                ........................................................
            </div>
            <div>
                (miejscowość, data)
            </div>
        </div>
    </div>

    <br/><br/>

    <h3>OŚWIADCZENIE</h3>

    <br/>

    <div>
        <div>
            Niniejszym wyrażam zgodę na przyjęcie studenta(ki):<br/>
            <div class="highLetters">
                <span th:text="${dto.studentName} + ' ' + ${dto.studentSurname} + ','"></span>
            </div>
        </div>
        <div>
            w celu odbycia praktyki zawodowej w naszym zakładzie pracy. Jednocześnie oświadczam, że
            charakter wykonywanej pracy będzie zgodny z programem praktyki i będzie obejmował
            następujące obszary działalności:
        </div>
        <div id="activities">
            <span style="white-space: pre-line;" th:text="${dto.studentDuties}"></span>
        </div>
        <div>
            Pracownikiem naszego zakładu pracy bezpośrednio nadzorującym i odpowiedzialnym za przebieg
            praktyk będzie:
            <div class="highLetters inline">
                <span th:text="${dto.carerName} + ' ' + ${dto.carerSurname}"></span>
            </div>

            <div class="highLetters">
                <span th:text="'tel.: ' + ${dto.carerPhone}"></span>
                <span th:text="'e-mail: ' + ${dto.carerEmail}"></span>
            </div>
        </div>

        <br/>
        <br/>

        <div>
            <div class="toSignRight">
                <div>
                    ........................................................
                </div>
                <div>
                    (Dyrektor/kierownik)
                </div>
            </div>
        </div>
    </div>

    <div>
        <br/>

        <div>
            <h4>Klauzula informacyjna</h4>
            <ol id="clause1">
                <li>Administratorem Pani/Pana danych osobowych jest Uniwersytet Przyrodniczo-Humanistyczny w Siedlcach z
                    siedzibą przy ul.
                    Konarskiego 2, 08-110 Siedlce;
                </li>
                <li>Prawidłowość przetwarzania danych osobowych nadzoruje administratora bezpieczeństwa informacji z
                    którym
                    można
                    skontaktować się za pośrednictwem adresu e-mail: iod@uph.edu.pl;
                </li>
                <li>Pani/Pana dane osobowe przetwarzane będą w celach kontaktowych jako z osobą bezpośrednią odpowiedzialną za opiekę i nadzór
                    nad powierzonymi studentami Wydziału Nauk Ścisłych i Przyrodniczych Uniwersytetu Przyrodniczo-Humanistycznego w
                    Siedlcach;
                </li>
                <li>Podane dane będą przetwarzane na podstawie art. 6 ust. 1 ogólnego rozporządzenia o ochronie danych
                    osobowych (Dz.U. UE L119
                    z 4.05.2016 r.);
                </li>
                <li>Podanie danych jest dobrowolne, jednak konieczne do realizacji celów, do jakich zostały zebrane;
                </li>
                <li>Dane nie będą udostępniane podmiotom zewnętrznym z wyjątkiem przypadków przewidzianych przepisami
                    prawa;
                </li>
                <li>Dane przechowywane będą przez okres niezbędny do realizacji wyżej określonych celów;</li>
                <li>Posiada Pani/Pan prawo dostępu do treści swoich danych oraz z zastrzeżeniem przepisów prawa: prawo
                    ich
                    sprostowania,
                    usunięcia, ograniczenia przetwarzania, prawo do przenoszenia danych, prawo do wniesienia sprzeciwu,
                    prawo do cofnięcia zgody
                    w dowolnym momencie;
                </li>
                <li>Ma Pani/Pan prawo do wniesienia skargi do Prezesa Urzędu Ochrony Danych Osobowych;</li>
                <li>Pani/Pana dane nie będą przetwarzane w sposób zautomatyzowany i nie będą poddawane profilowaniu;
                </li>
            </ol>
        </div>

        <div>
            <h4>Klauzula zgody</h4>
            <p id="clause2">Wyrażam zgodę na gromadzenie i przetwarzaniemoich danych osobowych zbieranych w trakcie
                podpisywania
                oświadczeniajako
                osoby bezpośrednio nadzorującej i odpowiedzialnej za praktykanta w celach kontaktowych. Zostałem
                poinformowany o moich
                prawach i obowiązkach. Przyjmuję do wiadomości, iż podanie przeze mnie danych kontaktowych jest
                dobrowolne.</p>
        </div>

        <br/>

        <div>
            <div class="toSignLeft">
                <div>
                    ........................................................
                </div>
                <div>
                    (data)
                </div>
            </div>

            <div class="toSignRight">
                <div>
                    ........................................................
                </div>
                <div>
                    (podpis opiekuna)
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>
