<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Porozumienie</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="styles/shared.css"/>
    <link rel="stylesheet" href="styles/porozumienie.css"/>
</head>
<body>

<h6>Załącznik nr 2 do Regulaminu praktyk zawodowych</h6>
<br/>

<div class="multiLineTitle">
    <h3>Porozumienie</h3>
    <h3>w sprawie organizacji zawodowej praktyki studenckiej ciągłej</h3>
</div>

<br/>
<div id="content">
    <div>
        <div>
            <div>
                zawarte dnia …………………………….. w Siedlcach, pomiędzy Uniwersytetem Przyrodniczo-Humanistycznym w
                Siedlcach z siedzibą przy ul. Konarskiego 2, zwanym dalej Uniwersytetem, reprezentowanym na podstawie
                udzielonego przez Rektora UPH pełnomocnictwa przez Dziekana Wydziału Nauk Ścisłych a
                <div class="highLetters inline">
                    <span th:text="${dto.companyName}">nazwa firmy sp. z o. o.</span>
                </div>
            </div>
            <div>
                <div class="highLetters">
                    <span>
                        <span style="font-family: 'arial'; width: 30%">z siedzibą w: </span>
                        <span style="font-family: 'arialbd';  width: 70% "
                              th:text="${dto.companyLocationCity}">Siedlce</span>
                    </span>
                    <span>
                        <span style="font-family: 'arial';width: 18% ">przy ul.</span>
                        <span style="font-family: 'arialbd';width: 82%"
                              th:text="${dto.companyLocationStreet}">3-go maja</span>
                    </span>
                </div>

                której reprezentantem/tką jest:
                <div class="highLetters inline"><span style="width: auto"
                                                      th:text="${dto.companyRepresentantName} + ' ' + ${dto.companyRepresentantSurname}">Imie Nazwisko</span>
                </div>
                zwanym dalej Zakładem Pracy, o następującej treści:
            </div>
        </div>
    </div>

    <div id="bottom-content">
        <h4>§1</h4>
        <p>
            Uniwersytet kieruje niżej wymienionych studentów kierunku Informatyka</p>
        <p> specjalności <span th:text="${dto.studentSpecialization}"> ............. </span>
            na <span th:text="${dto.studentInternshipDuration}"> ... </span> -tygodniową praktykę zawodową

        </p>
        <table style="width: 100%; border: 1px solid black">
            <tr>
                <td>Nazwisko i imię studenta</td>
                <td>Forma studiów</td>
                <td>Okres praktyki</td>
            </tr>
            <tr>
                <td th:text="${dto.studentName} +' ' + ${dto.studentSurname}"></td>
                <td th:text="${dto.studentStudyForm}"></td>
                <td th:text="${dto.studentInternshipStart} + ' ' + ${dto.studentInternshipEnd}">01.01.2000 - 01.02.2000</td>
            </tr>
        </table>

        <h4>§2</h4>
        <p>Zakład pracy zobowiązuje się do:</p>
        <ol>
            <li>powołania opiekuna(ów), pod kierunkiem których student będzie realizować program praktyki;</li>
            <li>zaplanowania odpowiedniej ilości zajęć, aby umożliwić studentowi wykonanie zadań ustalonych w
                programie praktyki;
            </li>
            <li>zapoznanie studentów z regulaminem pracy, przepisami o bezpieczeństwie i higienie pracy oraz o
                ochronie tajemnicy służbowej;
            </li>
            <li>zapewnienia nauczycielowi akademickiemu - opiekunowi praktyki z ramienia Uniwersytetu sprawowania
                nadzoru merytorycznego nad przebiegiem praktyki.
            </li>
        </ol>

        <h4>§3</h4>
        <p>Uniwersytet zobowiązuje się do:</p>
        <ol>
            <li>opracowania programu praktyki i zapoznania z nim studentów,</li>
            <li>sprawowania nadzoru dydaktyczno-wychowawczego i organizacyjnego nad przebiegiem praktyki oraz
                kontroli i oceny praktyki.
            </li>
        </ol>

        <h4>§4</h4>
        <p>Uniwersytet nie ponosi kosztów związanych z odbyciem praktyki.</p>

        <h4>§5</h4>
        <p>Zakład pracy może żądać od Uniwersytetu odwołania z praktyki zawodowej studenta w przypadku naruszenia
            w sposób rażący dyscypliny pracy.</p>

        <h4>§6</h4>
        <p>Sprawy nie uregulowane niniejszym Porozumieniem strony będą rozstrzygać w negocjacjach bezpośrednich.</p>

        <h4>§7</h4>
        <p>Niniejsze porozumienie sporządzone zostało w dwóch jednobrzmiących egzemplarzach po jednym dla każdej ze
            stron.</p>

    </div>

    <br/>
    <br/>
    <br/>
    <div>

        <div>
            <div class="toSignLeft">
                <div>
                    ........................................................
                </div>
                <div> (podpis opiekuna praktyki</div>
                <div style=""> z ramienia Uniwersytetu)</div>
            </div>

            <div class="toSignRight">

            </div>
        </div>

        <div style="float: none; margin-top: 8em">
            <div class="toSignLeft">
                <div>
                    ........................................................
                </div>
                <div>
                    (podpis i pieczątka Dziekana)
                </div>
            </div>

            <div class="toSignRight">
                <div>
                    ........................................................
                </div>
                <div>
                    (podpis i pieczątka przedstawiciela
                    podmiotu przyjmującego na praktykę zawodową)
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
