<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Porozumienie</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="styles/shared.css"/>
    <link rel="stylesheet" href="styles/porozumienie.css"/>
</head>
<body>

<h6 style="float: right; text-align: right;">Załącznik nr 1<br/>
    do Zarządzenia Rektora nr 58/2018</h6>
<br/><br/><br/><br/>

<div style="text-align: center;">
    <h2 style="margin: 0; padding: 0; line-height: normal">Porozumienie</h2>
    <h3 style="margin: 0; padding: 0; line-height: normal">w sprawie organizacji zawodowej praktyki studenckiej ciągłej</h3>
</div>

<br/>
<div id="content" style="text-align: justify">
    <div>
        <div>
            <div style="text-align: center">
                zawarte dnia …………………………….. w Siedlcach, pomiędzy
            </div>
            <div>
                Uniwersytetem Przyrodniczo-Humanistycznym w Siedlcach, z siedzib przy ul. Konarskiego 2 w
                Siedlcach (08-110), NIP 821-001-44-90, REGON 000001471, zwanym dalej „Uniwersytetem”,
                reprezentowanym na podstawie udzielonego przez Rektora Uniwersytetu pełnomocnictwa, przez:
            </div>
                <div class="highLetters" >
                    <span style="width: 30%">

                        <span style="font-family: 'arialbd'"
                                th:text="${dto.groupAdminName} + ' ' + ${dto.groupAdminSurname}"></span>
                    </span>
                    <span style="width: 70%">
                        <span style="font-family: 'arial'">- Dziekan Wydziału</span>
                        <span style="font-family: 'arialbd'"
                              th:text="${dto.department}">Nauk Ścisłych i Przyrodniczych</span>
                    </span>
                </div>





            <div>
                <span style="font-family: 'arial'"> a </span>
                <span style="font-family: 'arialbd'" th:text="${dto.companyName}">nazwa firmy sp. z o. o.</span>
                <div class="highLetters">

                    <span>
                        <span style="font-family: 'arial'">z siedzibą w: </span>
                        <span style="font-family: 'arialbd' "
                              th:text="${dto.companyLocationCity}">Siedlce</span>
                    </span>
                    <span>
                        <span style="font-family: 'arial'">przy ul.</span>
                        <span style="font-family: 'arialbd'"
                              th:text="${dto.companyLocationStreet}">3-go maja</span>
                    </span>
                </div>

                zwaną/-ym dalej „Jednostką przyjmującą”, reprezentowaną/-ym przez:
                <div class="highLetters inline"><span style="width: auto"
                                                      th:text="'- '+${dto.companyRepresentantName} + ' - ' + ${dto.companyRepresentantSurname}">Imie Nazwisko</span>
                </div>
                o następującej treści:
            </div>
        </div>
    </div>

    <div id="bottom-content">
        <h4>§1</h4>
        <p>
            Uniwersytet kieruje niżej wymienionych studentów kierunku Informatyka</p>
        <p> specjalizacji <span th:text="${dto.studentSpecialization}"> ............. </span>
            na <span th:text="${dto.studentInternshipDuration}"> ... </span> - praktykę zawodową

        </p>
        <table style="width: 100%; border: 1px solid black">
            <tr>
                <td>Nazwisko i imię studenta</td>
                <td>Forma studiów</td>
                <td>Okres praktyki</td>
            </tr>
            <tr>
                <td th:text="${dto.studentName} +' ' + ${dto.studentSurname}"></td>
                <td th:text="${dto.studentStudyForm}"></td>
                <td th:text="${dto.studentInternshipStart} + ' ' + ${dto.studentInternshipEnd}">01.01.2000 - 01.02.2000</td>
            </tr>
        </table>

        <h4>§2</h4>
        <p>Jednostka przyjmująca zobowiązuje się do:</p>
        <ol>
            <li>zapoznania się z programem praktyki w celu zapewnienia właściwej realizacji zadań przez
                studenta odbywającego praktykę; </li>
            <li>powołania opiekuna/-ów, pod kierunkiem którego/-ych student będzie realizował program
                praktyki;
            </li>
            <li>zaplanowania odpowiedniej ilości zajęć, aby umożliwić studentowi wykonanie zadań ustalonych
                w programie praktyki;
            </li>
            <li>współdziałania z opiekunem praktyk z ramienia Uniwersytetu;
            </li>
            <li>umożliwienia nauczycielowi akademickiemu – opiekunowi praktyki z ramienia Uniwersytetu,
                sprawowania nadzoru merytorycznego nad przebiegiem praktyki;
            </li>
            <li>potwierdzenia i oceny praktyki studenta w dokumentacji praktyki według zasad określonych
                w programie praktyk;
            </li>
            <li>zapoznania studentów z regulaminem pracy, przepisami o bezpieczeństwie i higienie pracy oraz
                o ochronie tajemnicy służbowej;
            </li>
            <li>zachowania w tajemnicy wszelkich informacji, danych, materiałów, dokumentów i danych
                osobowych otrzymanych od Administratora danych UPH w Siedlcach i od współpracujących
                z nim osób oraz danych uzyskanych w jakikolwiek inny sposób, zamierzony czy przypadkowy
                w formie ustnej, pisemnej lub elektronicznej.
            </li>
        </ol>
            Jednostka przyjmująca oświadcza,że w związku ze zobowiązaniem do zachowania w tajemnicy
            danych osobowych nie będą one wykorzystywane, ujawniane ani udostępniane bez pisemnej
            zgody Administratora danych w innym celu niż wykonanie Porozumienia, chyba że konieczno
            ujawnienia posiadanych informacji wynika z obowiązujących przepisów prawa lub Porozumienia.



        <h4>§3</h4>
        <p>Uniwersytet zobowiązuje się do:</p>
        <ol>
            <li>opracowania programu praktyki i zapoznania z nim studentów,</li>
            <li>współdziałania z opiekunem praktyk z ramienia jednostki przyjmującej studenta na praktykę;
            </li>
            <li>sprawowania nadzoru dydaktyczno-wychowawczego i organizacyjnego nad przebiegiem praktyki
                oraz kontroli i oceny praktyki.
            </li>
        </ol>

        <h4>§4</h4>
        <p>Strony zgodnie oświadczają, że Uniwersytet nie będzie ponosił żadnych kosztów związanych z
            realizowaną w jednostce przyjmującej praktyką studencką.</p>

        <h4>§5</h4>
        <p>Jednostka przyjmująca może żądać od Uniwersytetu odwołania z praktyki zawodowej studenta,
            w przypadku naruszenia przez niego, w sposób rażący, dyscypliny pracy. </p>

        <h4>§6</h4>
        <p>Sprawy nieuregulowane niniejszym porozumieniem strony będą rozstrzygać w ramach wzajemnych
            negocjacji i uzgodnień. </p>

        <h4>§7</h4>
        <p>Niniejsze porozumienie sporządzone zostało w dwóch jednobrzmiących egzemplarzach po jednym dla każdej ze
            stron.</p>

    </div>
<br/>
    <br/>
    <br/>
    <br/>
    <div>

        <div>
            <div class="toSignLeft">
                <div>
                    ........................................................
                </div>
                <div> (podpis opiekuna praktyki</div>
                <div style=""> z ramienia Uniwersytetu)</div>
            </div>

            <div class="toSignRight">

            </div>
        </div>

        <div style="float: none; margin-top: 8em">
            <div class="toSignLeft">
                <div>
                    ........................................................
                </div>
                <div>
                    (podpis i pieczątka Dziekana)
                </div>
            </div>

            <div class="toSignRight">
                <div>
                    ........................................................
                </div>
                <div>
                    (podpis i pieczątka przedstawiciela
                    podmiotu przyjmującego na praktykę zawodową)
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
