<div class="container-fluid text-center mt-4">
  <div class="display-4 my-2">Grupy</div>
  <button *ngIf="isAdmin" class="btn btn-success" (click)="openAddDialog()">Utwórz nową grupę</button>

  <hr class="my-4">

  <div class="table-holder">
    <div *ngIf="pager.pages && pager.pages.length" class="btn-group mb-3" role="group">
        <button type="button" class="btn btn-outline-secondary" (click)="setPage(1)">Pierwsza</button>
        <button type="button" class="btn btn-outline-secondary" (click)="setPage(pager.currentPage - 1)">Poprzednia</button>
        <button *ngFor="let page of pager.pages" type="button" class="btn btn-secondary" (click)="setPage(page)" [ngStyle]="pager.currentPage === page && {'background-color':'#0275d8'}">{{page}}</button>
        <button type="button" class="btn btn-outline-secondary" (click)="setPage(pager.currentPage + 1)">Następna</button>
        <button type="button" class="btn btn-outline-secondary" (click)="setPage(pager.totalPages)">Ostatnia</button>
    </div>

    <table class="table table-hover table-striped">
      <thead class="thead-dark">
        <tr>
          <th>
           Nazwa
          </th>
          <th>
            Forma studiów
          </th>
          <th>
            Kierunek
          </th>
          <th (click)="sortStartDate()">
            Data startu
          </th>
          <th>
            Czas trwania w tygodniach
          </th>
          <th>
           Opiekun Praktyk
          </th>

          <th (click)="sortStatus()">
            Status
          </th>
          <th>
            Akcje
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of pagedItems ">
          <td>
            {{ item.groupName}}
          </td>
          <td>
            <div *ngIf="item.formOfStudy === 'FdivL_TIME'; then ft else pt"></div>
            <ng-template #ft>  Stacjonarne </ng-template>
            <ng-template #pt>  Niestacjonarne </ng-template>

          </td>
          <td>
            {{ item.fieldOfStudy}}
          </td>
          <td>
            {{  item.startDate}}
          </td>
          <td>
            {{ item.durationInWeeks}}
          </td>
          <td>
            {{ item.groupAdminName}} {{ item.groupAdminSurname}}
          </td>


          <td class="docs"
              [ngStyle]="item.isOpen == true && {'background-color':'#42A948'} " >

            <div *ngIf="item.isOpen; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock> <div  class="text-center">Otwarta</div></ng-template>
            <ng-template #elseBlock> <div class="text-center">Zamknięta</div></ng-template>

          </td>
          <td>
            <div *ngIf="isAdmin">
              <p class="alert alert-danger m-1 p-1" *ngIf="item.changed">Wymagana akcja!</p>
              <button class="btn btn-warning m-1" (click)="openEditDialog(item)">Edytuj</button>
              <button class="btn btn-primary m-1" (click)="openStudentList(item.id)">Zobacz</button>
            </div>
            <div *ngIf="!isAdmin">
              <button class="btn btn-success" (click)="joinGroup(item.id)">Dołącz</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="pager.pages && pager.pages.length" class="btn-group mb-3" role="group">
      <button type="button" class="btn btn-outline-secondary" (click)="setPage(1)">Pierwsza</button>
      <button type="button" class="btn btn-outline-secondary" (click)="setPage(pager.currentPage - 1)">Poprzednia</button>
      <button *ngFor="let page of pager.pages" type="button" class="btn btn-secondary" (click)="setPage(page)" [ngStyle]="pager.currentPage === page && {'background-color':'#0275d8'}">{{page}}</button>
      <button type="button" class="btn btn-outline-secondary" (click)="setPage(pager.currentPage + 1)">Następna</button>
      <button type="button" class="btn btn-outline-secondary" (click)="setPage(pager.totalPages)">Ostatnia</button>
    </div>
  </div>

</div>
