<div class="container text-center" style="margin-top: 70px">
  <div class="display-4">Grupy</div>
  <br>


<button *ngIf="isAdmin" class="btn btn-success" (click)="openAddDialog()">Dodaj Nowa Grupe </button>
  <br>  <br>
</div>
<table class="table table-hover table-striped ">

  <thead class="thead-dark">
  <tr>
   <th>
     Nazwa
   </th>
    <th>
      Forma studiów
    </th>
    <th>
      Kierunek
    </th>
    <th>
      Data startu
    </th>
    <th>
      Czas trwania w tygodniach
    </th>

    <th>
      Status
    </th>
    <th>

    </th>
  </tr>
  </thead>
  <tbody >
  <tr *ngFor="let item of groupList ">
    <td>
      {{ item.groupName}}
    </td>
    <td>
      <div *ngIf="item.formOfStudy === 'FULL_TIME'; then ft else pt"></div>
      <ng-template #ft>  Stacjonarne </ng-template>
      <ng-template #pt>  Niestacjonarne </ng-template>

    </td>
    <td>
      {{ item.fieldOfStudy}}
    </td>
    <td>
      {{  item.startDate}}
    </td>
    <td>
      {{ item.durationInWeeks}}
    </td>



    <td class="docs"
        [ngStyle]="item.isOpen == true && {'background-color':'#42A948'} " >
<!--      {{ item.controls.isOpen.value}}-->

      <div *ngIf="item.isOpen; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock> <div  class="text-center"> Otwarta </div></ng-template>
      <ng-template #elseBlock> <div class="text-center"> Zamknieta </div></ng-template>



    </td>
    <td>
      <div *ngIf="isAdmin">
      <button class="btn btn-warning" (click)="openEditDialog(item)">Edytuj </button>
      <button class="btn btn-primary" (click)="openStudentList(item.id)">Zobacz </button>
    </div>
      <div *ngIf="!isAdmin">
        <button class="btn btn-success" (click)="joinGroup(item.id)">Dołącz </button>
      </div>
    </td>
  </tr>


  </tbody>

</table>
