
<div class="container text-center" style="margin-top: 100px">
<h1>Witaj na Stronie "Student Internship Management System"</h1>
  <div class="fontSize"> System wspierający zarządzanie, wypełnianie oraz przesyłanie dokumentów do praktyk</div>
  <hr>
  <div class="fontSize">  Czysta niewypełnina wersja dostępna pod linkiem:</div><br>
  <a class="btn btn-primary" href="https://ii.uph.edu.pl/images/PDFs/praktyki/2019/regulamin_praktyk_2017_18.pdf">Czysta wersja dokumentów PDF</a>
</div>


<p>home-component works!</p>
<button (click)="test123()"></button>
<button (click)="test1234()"></button>
<button (click)="test12345()"></button>
<h1>{{authService.isLoggedIn()}}</h1>

