.fontSize{
  font-size: 22px;
}
table{
  margin-top:5%;
  margin-left:10%;
  margin-right:10%;
  width: 70%;
}

.docs{
  border-right: 1px solid #f8f9fa;
  background: #868e96;
}

.table-hover tbody tr:hover {
  background-color: #17a2b8 /*#ced4da*/;
}

td:hover{
  outline: 1px dashed #fff;
  outline-offset: -5px;

}

.warning {
  margin-left: 70%;
}

.square:hover {

  background-color: yellow;

}

button {
  margin-left: 50%;
}
