

<div class="container text-center" style="margin-top: 100px">
<h1>Witaj na Stronie "Student Internship Management System"</h1>
  <div class="fontSize"> System wspierający zarządzanie, wypełnianie oraz przesyłanie dokumentów do praktyk</div>
  <hr>
  <div class="fontSize">  Czysta niewypełnina wersja dostępna pod linkiem:</div><br>
  <a class="btn btn-primary" href="https://ii.uph.edu.pl/images/PDFs/praktyki/2019/regulamin_praktyk_2017_18.pdf">Czysta wersja dokumentów PDF</a>
</div>



<div *ngIf="authService.isLoggedIn()">
<hr>



<button (click)="test123()">test123</button>

  <div  *ngIf="myDocumentList.length != 0">
<table class="table table-hover table-striped ">

  <thead class="thead-dark">
  <h1>Moje Dokumenty</h1>
  <tr>
    <th width="60%">
      Dokument
    </th>
    <th >
      Status
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let document of myDocumentList">
    <td  >
      <ng-container *ngIf="document.type === 'oswiadczenie';else POR">
        Oświadczenie
      </ng-container>
      <ng-template #POR>
        <ng-container *ngIf="document.type === 'porozumienie';else ZAS">
          Porozumienie
        </ng-container>
      </ng-template>
      <ng-template #ZAS>
        <ng-container *ngIf="document.type === 'zaswiadczenie';else DZI">
          Zaświadczenie
        </ng-container>
      </ng-template>
      <ng-template #DZI>
          Dziennik
      </ng-template>

<!--     {{document.type}}-->
      <div *ngIf="document.status != null">
        <button type="button" class="btn btn-primary" (click)="onClick(document.link,document.type)"> Pobierz</button>
      </div>
    </td>
    <td class="docs"
        [ngStyle]="document.status == 'NEW' && {'background-color':'#2196F3'} ||
      document.status== 'ACCEPTED' && {'background-color':'#42A948'} ||
      document.status == 'DECLINED' && {'background-color':'#dc3545'}">

      <ng-container *ngIf="document.status === null;else NEW">
        Brak
      </ng-container>
      <ng-template #NEW>
        <ng-container *ngIf="document.status === 'NEW';else ACCEPTED">
          Nie Sprawdzony
        </ng-container>
      </ng-template>
      <ng-template #ACCEPTED>
        <ng-container *ngIf="document.status === 'ACCEPTED';else DECLINED">
          Zaakceptowany
        </ng-container>
      </ng-template>
        <ng-template #DECLINED>
          Odrzucony
        </ng-template>


      <button type="button"  class="btn btn-warning warning" *ngIf="document.comment != ''" (click)="showWarning(document.comment)" style="margin-left: 50%" >Uwaga!</button>

<!--    <div *ngIf="document.comment != null">-->
<!--      {{document.comment}}-->
<!--    </div>-->
    </td>
  </tr>
  </tbody>
</table>

<!--<h1>{{authService.isLoggedIn()}}</h1>-->

</div >
  <div  style="margin-left: 10%" *ngIf="myDocumentList.length === 0">
    <h1>Brak Dokumentów</h1>
  </div>

</div>


