

<div class="container text-center" style="margin-top: 70px">
  <div class="display-4">Lista Studentów grupy: {{group.groupName}}</div>
  <br>
</div>



<table class="table table-hover table-striped ">

  <thead class="thead-dark">
  <tr>
    <th width="10%"> Imie</th>
    <th width="10%"> Nazwisko</th>
    <th width="16%"> Nazwa Firmy</th>

    <th  width="16%" class="docs"> Oświadczenie</th>
    <th  width="16%"  class="docs"> Porozumienie</th>
    <th  width="16%"  class="docs"> Zaświadczenie</th>
    <th  width="16%"  class="docs"> Dziennik</th>
  </tr>
  </thead>
  <tbody >

  <tr *ngFor="let item of studentList " >
    <td>
      {{ item.name}}
    </td>
    <td>
      {{ item.surname }}
    </td>
    <td>
      <ng-container *ngIf="item.documents[1].status === 'ACCEPTED'">

<!--   company name jesli porozumienie jest zaakceptowane     -->
        {{ item.documents[1].companyName}}
      </ng-container>
    </td>
    <td class="docs" *ngFor="let doc of item.documents " [ngStyle]="doc.status == 'NEW' && {'background-color':'#2196F3'} ||
     doc.status== 'ACCEPTED' && {'background-color':'#42A948'} ||
      doc.status == 'DECLINED' && {'background-color':'#dc3545'}">

      <ng-container *ngIf="doc.status === 'DECLINED';else NEW">

      </ng-container>
      <ng-template #NEW>
        <ng-container *ngIf="doc.status === 'NEW';else ACCEPTED">
          Nowy
        </ng-container>
      </ng-template>
      <ng-template #ACCEPTED>
        <ng-container *ngIf="doc.status === 'ACCEPTED';else empty">
          Zaakceptowany
        </ng-container>
      </ng-template>
      <ng-template #empty>
        Brak
      </ng-template>
      <button type="button" class="btn btn-primary float-right" *ngIf="doc.status != 'EMPTY' " (click)="openDoc(doc.id,doc.type)"  > Zobacz</button>
      <button type="button"  class="btn btn-warning float-right" *ngIf="doc.comment != '' " (click)="showWarning(doc.comment)"  >Uwaga!</button>

    </td>



  </tr>
  </tbody>

</table>

<div *ngIf="studentApplicationList.length != 0">
<div class="container text-center" >
  <div class="display-4">Lista aplikujących do tej grupy</div>
  <br>
</div>
<table class="table tableCustom table-hover table-striped " >

  <thead class="thead-dark">

  <tr>
    <th width="20%"> Imie</th>
    <th width="20%"> Nazwisko</th>
    <th width="20%"> Numer Albumu</th>
    <th width="20%"> Data dołączenia</th>
    <th width="20%"> </th>

  </tr>
  </thead>
  <tbody >

  <tr *ngFor="let item of studentApplicationList " >
    <td>
      {{item.studentName}}
    </td>
    <td>
      {{item.studentSurname}}
    </td>
    <td>
      {{item.studentAlbum}}
    </td>
    <td>
      {{item.date}}
    </td>
  <td>
      <button type="button" class="btn btn-success float-left" (click)="onAcceptClick(item.acceptLink)"  >Akceptuj</button>

    </td>



  </tr>
  </tbody>

</table>
</div>
