<button style="margin-left: 90%" class="btn btn-danger " mat-button [mat-dialog-close] cdkFocusInitial>Zamknij</button>
<div class="container mt-5">

  <div class="card border-info mb-3">
    <div class="card-header m-0 p-0">
      <p class="text-center m-0 p-0 my-2">Wysyłanie dokumentów</p>
    </div>

    <div class="card-body">
        <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">
<!--          <div *ngIf="selectedDocument == '' || selectedGroup == ''" class="row justify-content-center align-items-center">-->
<!--            <div class="custom-control-inline ">-->
<!--              <label class="container ">-->
<!--                <input type="radio" name="documentType" value="oswiadczenie" formControlName="documentType"> Oświadczenie-->
<!--                <span class="checkmark"></span>-->
<!--              </label>-->
<!--              <label class="container">-->
<!--                <input type="radio" name="documentType" value="porozumienie" formControlName="documentType"> Porozumienie-->
<!--                <span class="checkmark"></span>-->
<!--              </label>-->
<!--              <label class="container">-->
<!--                <input type="radio" name="documentType" value="zaswiadczenie" formControlName="documentType"> Zaświadczenie-->
<!--                <span class="checkmark"></span>-->
<!--              </label>-->
<!--            </div>-->
<!--          </div>-->

          <div *ngIf="selectedDocument != '' && selectedGroup != ''">
            <div class="alert alert-info">Grupa dokumentu do wysłania: <strong>{{ selectedGroup }}</strong> <br>Rodzaj dokumentu do wysłania: <strong>{{ selectedDocument }}</strong></div>
            <input #docType type="hidden" name="documentType" [value]="selectedDocument" />
          </div>

          <div *ngIf="selectedFile && message == ''" class="progress">
            <div
              class="progress-bar progress-bar-info progress-bar-striped"
              role="progressbar"
              attr.aria-valuenow="{{ progress }}"
              aria-valuemin="0"
              aria-valuemax="100"
              [ngStyle]="{ width: progress + '%' }"
            >
              {{ progress }}%
            </div>
          </div>
          <br>

<div *ngIf="message != ''" class="alert alert-danger">
            {{message}}
</div>


          <div class="custom-file mb-4">
            <label #labelFileName class="custom-file-label" for="customFile" >Wybierz plik</label>
            <input #inputFile type="file" formControlName="file" class="custom-file-input" id="customFile" lang="pl-Pl">
          </div>

          <div>
            <button type="submit" class="btn btn-success btn-lg btn-block" [disabled]="uploadForm.invalid">Wyślij</button>
          </div>
        </form>

    </div>

  </div>

</div>


