html {
    font-size: 0.75em;
}

.multiLineTitle h3 {
    line-height: 0.5em;
    font-size: 1.2em;
    font-family: "arialbd";
}

h6 {
    line-height: 4em;
    vertical-align: bottom;
}

h4 {
    font-size: 1.1em;
    line-height: 0em;
}

table {
    margin: 0.5em;
    border-collapse: collapse;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
}

#bottom-content p {
    line-height: 1em;
    margin: 0.1em;
}

#bottom-content ol {
    margin: 0.1em;
}
