<div class="container mt-4">
  <h1>Podsumowanie</h1>
  <p class="lead">Ankiety studentów</p>

  <hr class="mt-2 mb-4">

  <div class="alert alert-danger" *ngIf="err != null">
    {{ err }}
  </div>

  <div *ngIf="err == null">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="card my-2" *ngFor="let answer of answers; let i = index">
          <div class="card-header">{{ answer[0] }}</div>
          <div class="card-body">
            <table class="table">
              <thead class="thead-light">
              <tr>
                <th *ngIf="answer[1].length > 0">A</th>
                <th *ngIf="answer[1].length > 1">B</th>
                <th *ngIf="answer[1].length > 2">C</th>
                <th *ngIf="answer[1].length > 3">D</th>
              </tr>
              </thead>

              <tbody>
              <td *ngFor="let ansVal of answer[1]">
                <tr>
                  {{ ansVal }}
                </tr>
              </td>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="card my-2 pb-0">
          <div class="card-header">Pytanie 5 - Uzasadnienia</div>
          <div class="card-body">
            <div *ngIf="questionFiveTexts.length > 0">
              <div *ngFor="let questionFiveText of questionFiveTexts">
                <div class="alert alert-info mb-2">{{ questionFiveText }}</div>
              </div>
            </div>
            <div *ngIf="questionFiveTexts.length == 0">
              <div class="alert alert-warning">Brak</div>
            </div>
          </div>
        </div>

        <div class="card my-2 pb-0">
          <div class="card-header">Pytanie 7 - Uzasadnienia</div>
          <div class="card-body">
            <div *ngIf="questionSevenTexts.length > 0">
              <div *ngFor="let questionSevenText of questionSevenTexts">
                <div class="alert alert-info mb-2">{{ questionSevenText }}</div>
              </div>
            </div>
            <div *ngIf="questionSevenTexts.length == 0">
              <div class="alert alert-warning">Brak</div>
            </div>
          </div>
        </div>

        <div class="card my-2 pb-0">
          <div class="card-header">Pytanie 11 - Uzasadnienia</div>
          <div class="card-body">
            <div *ngIf="questionElevenTexts.length > 0">
              <div *ngFor="let questionElevenText of questionElevenTexts">
                <div class="alert alert-info mb-2">{{ questionElevenText }}</div>
              </div>
            </div>
            <div *ngIf="questionElevenTexts.length == 0">
              <div class="alert alert-warning">Brak</div>
            </div>
          </div>
        </div>

        <div class="card my-2 pb-0">
          <div class="card-header">Pytanie 12 - Uzasadnienia</div>
          <div class="card-body">
            <div *ngIf="questionTwelveTexts.length > 0">
              <div *ngFor="let questionTwelveText of questionTwelveTexts">
                <div class="alert alert-info mb-2">{{ questionTwelveText }}</div>
              </div>
            </div>
            <div *ngIf="questionTwelveTexts.length == 0">
              <div class="alert alert-warning">Brak</div>
            </div>
          </div>
        </div>

        <div class="card my-2 pb-0">
          <div class="card-header">Pytanie 13 - Uzasadnienia</div>
          <div class="card-body">
            <div *ngIf="questionThirteenTexts.length > 0">
              <div *ngFor="let questionThirteenText of questionThirteenTexts">
                <div class="alert alert-info mb-2">{{ questionThirteenText }}</div>
              </div>
            </div>
            <div *ngIf="questionThirteenTexts.length == 0">
              <div class="alert alert-warning">Brak</div>
            </div>
          </div>
        </div>

        <div class="card my-2 pb-0">
          <div class="card-header">Pytanie 14 - Inne uwagi, wnioski, propozycje dotyczące praktyki zawodowej
            ciągłej:</div>
          <div class="card-body">
            <div *ngIf="suggestions.length > 0">
              <div *ngFor="let suggestion of suggestions">
                <div class="alert alert-info mb-2">{{ suggestion }}</div>
              </div>
            </div>
            <div *ngIf="suggestions.length == 0">
              <div class="alert alert-warning">Brak</div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

