.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  margin-top: 30px;
  background-color: transparent;
}

.authors {
  font-size: 11px;
}
