<hr class="mt-5">

<footer class="footer mt-0 pt-0">
  <div class="container">
    <span class="text-muted">Copyright &copy; 2020 <a href="https://ii.uph.edu.pl/">Instytut Informatyki UPH</a></span><br>
    <span class="text-info authors">
      Implemented by <a href="https://github.com/Karolina12345667890">Kieczka Karolina</a>,
      <a href="https://github.com/MaciejNazarczuk">Nazarczuk Maciej</a>,
      <a href="https://github.com/Martigen">Matusik Mateusz</a>,
      <a href="https://github.com/D1zzinho">Kała Jakub</a>
    </span>
  </div>
</footer>
