<div class="container mt-4">

  <h1>Jak to działa?</h1>
  <p class="lead">Poradnik korzystania z systemu SIMS (kliknij na wybrany nagłówek poniżej by rozwinąć)</p>

  <hr class="my-2 pb-3">

  <div class="card mb-2 howto">
    <div class="card-header border-bottom-0 howto-header" style="cursor: pointer;">1. Rejestracja i logowanie</div>
    <div class="card-body howto-body" style="display: none;">
      Aby zarejestrować się w systemie, przejdź do strony logowania poprzez pasek nawigacji w górnej części strony.
      Następnie kliknij "Rejestracja" i wypełnij niezbędne pola poprawnymi danymi.
      Jeżeli utworzenie konta zakończy się skucesem, możesz zalogować się do systemu SIMS.
      Przejdź do strony logowania, wpisz podany wcześniej login oraz hasło. Jeżeli dane są poprawne, zostaniesz przekierowany(a) do strony głównej.
    </div>
  </div>

  <div class="card mb-2 howto">
    <div class="card-header border-bottom-0 howto-header" style="cursor: pointer;">2. Strona główna</div>
    <div class="card-body howto-body" style="display: none;">
      Przykładowy widok strony głównej ze zwiniętymi grupami (widoczne są dopiero po dołączeniu do nich).
      <img class="img-fluid my-2" src="./assets/img/str_glowna.png" />
      Aby zobaczyć dane o grupie oraz dokumenty, wystarczy kliknąć przycisk z nazwą grupy.
      <img class="img-fluid my-2" src="./assets/img/grupa_rozwinieta.png" />

      <strong class="text-danger">Uwaga! Na początku widoczne są jedynie <span style="letter-spacing: 1px;">Oświadczenie</span>
      oraz <span style="letter-spacing: 1px;">Porozumienie</span>!</strong>

      Dopiero po ich wypełnieniu, zapisaniu i zaakceptowaniu przez Opiekuna Grupy, pojawią się pozostałe.
      <br><br>
      Przycisk "Pobierz" pozwala pobrać wypełniony dokument w formie pliku *.pdf.
      <br>
      Przycisk "Wyślij wypełniony dokument" przkierowuje na stronę wysyłania np. zdjęcia wydrukowanego dokumentu do Opiekuna Grupy.
      <br><br>
      <strong class="text-info">Zawuaż, że w wypadku ustalenia z Opiekunem Grupy, że praktyki odbywane będą w zewnętrznej instytucji, po odpowiedniej akcji, będziesz miał(a) widoczny jedynie jeden dokument do wypełnienia (widok poniżej).</strong>
      <img class="img-fluid my-2" src="./assets/img/grupa_rozwinieta_praca.png" />
    </div>
  </div>

  <div class="card mb-2 howto">
    <div class="card-header border-bottom-0 howto-header" style="cursor: pointer;">3. Jak dołączyć do grupy?</div>
    <div class="card-body howto-body" style="display: none;">
      Aby dołączyć do grupy, należy przejść do listy grup, do której odnośnik znajduje się w górnym pasku nawigacji.
      Jeżeli w systemie widnieją <strong>otwarte</strong> grupy, będą widoczne na liście, tak jak na obrazku poniżej.

      <img class="my-2 img-fluid" src="./assets/img/lista_grup.png" />

      W celu dołączenia, wystarczy kliknąć przycisk "Dołącz". Do Opiekuna Grupy zostanie wysłana prośba o dołączenie. Po akceptacji zostaniesz pełnoprawnym członkiem wybranej grupy praktykantów. Zmiany zaobserwujesz na stronie głównej. Poglądowo widok na obrazku poniżej.
      <img class="my-2 img-fluid" src="./assets/img/widok_grupy.png" />
    </div>
  </div>

  <div class="card mb-2 howto">
    <div class="card-header border-bottom-0 howto-header" style="cursor: pointer;">4. Jak wypełnić Oświadczenie?</div>
    <div class="card-body howto-body" style="display: none;">
      Imię i nazwisko zostaną uzupełnione automatycznie według danych podanych przez Ciebie podczas rejestracji.
      Możesz zmienić je w panelu użytkownika, który znajdziesz w okienku rozwijanym pod "Witaj, [imię]!" na pasku nawigacji.
      <br>
      Pozostałe pola należy wypełnić w podobny sposób jak na obrazku poniżej.
      <img class="my-2 img-fluid" src="./assets/img/oswiadczenie_przyklad.png" />
    </div>
  </div>

  <div class="card mb-2 howto">
    <div class="card-header border-bottom-0 howto-header" style="cursor: pointer;">5. Jak wypełnić Porozumienie?</div>
    <div class="card-body howto-body" style="display: none;">
      Imię i nazwisko, forma studiów, specjalizacja oraz okres praktyki zostaną uzupełnione automatycznie według danych podanych przez Ciebie podczas rejestracji oraz z danych grupy.
      <br>
      Pozostałe pola należy wypełnić w podobny sposób jak na obrazku poniżej, pamiętając o wybraniu konkretnej daty początku i końca praktyki.
      <img class="my-2 img-fluid" src="./assets/img/porozumienie_przyklad.png" />
    </div>
  </div>

  <div class="card mb-2 howto">
    <div class="card-header border-bottom-0 howto-header" style="cursor: pointer;">6. Jak wypełnić Plan Praktyki?</div>
    <div class="card-body howto-body" style="display: none;">
      <strong class="text-danger">Dokument widoczny po wypełnieniu i zaakceptowaniu przez Opiekuna Grupy: Oświadczenia oraz Porozumienia.</strong>

      Imię i nazwisko, a także data trwania praktyki zostaną pobrane z wcześniej wypełnionych dokumentów.
      Pozostałe dane należy wypełnić podobnie jak na obrazku poniżej.

      <img class="my-2 img-fluid" src="./assets/img/planpraktyki_przyklad.png" />
    </div>
  </div>

  <div class="card mb-2 howto">
    <div class="card-header border-bottom-0 howto-header" style="cursor: pointer;">7. Jak wypełnić Dziennik Praktyk?</div>
    <div class="card-body howto-body" style="display: none;">
      <strong class="text-danger">Dokument widoczny po wypełnieniu i zaakceptowaniu przez Opiekuna Grupy: Oświadczenia oraz Porozumienia.</strong>

      W dzienniku praktyk nie trzeba zmieniać niczego oprócz zadań, jakie wykonywanie były podczas kolejnych dni trwania praktyki.
      Dla każdego dnia, wg wcześniej podanego okresu trwania, zostanie utworzone pole tekstowe. Poglądowy widok na obrazku poniżej.

      <img class="my-2 img-fluid" src="./assets/img/dziennikpraktyk_przyklad.png" />
    </div>
  </div>

  <div class="card mb-2 howto">
    <div class="card-header border-bottom-0 howto-header" style="cursor: pointer;">8. Jak wypełnić Zaświadczenie?</div>
    <div class="card-body howto-body" style="display: none;">
      <strong class="text-danger">Dokument widoczny po wypełnieniu i zaakceptowaniu przez Opiekuna Grupy: Oświadczenia oraz Porozumienia.</strong>

      Imię i nazwisko, a także okres trwania praktyki są pobierane z wcześniej uzupełnionych dokumentów oraz z danych podanych przez Ciebie podczas rejestracji.
      Pozostałe dane należy uzupełnić samodzielnie wg informacji podnych w polu tekstowym. Obrazek poglądowy znajduje się poniżej.

      <img class="my-2 img-fluid" src="./assets/img/zaswiadczenie_przyklad.png" />
    </div>
  </div>

  <div class="card mb-2 howto">
    <div class="card-header border-bottom-0 howto-header" style="cursor: pointer;">9. Jak wypełnić Zaświadczenie o zatrudnieniu?</div>
    <div class="card-body howto-body" style="display: none;">
      <strong class="text-danger">Dokument widoczny po zmianie rodzaju praktyki przez Opeikuna Grupy.</strong>

      Imię i nazwisko są pobierane z danych podanych przez Ciebie podczas rejestracji w systemie.
      Pozostałe dane należy wypełnić zgodnie z umową zawartą z Zakładem Pracy, w którym przebywasz jako pracownik. Na podstawie tej umowy odbywane będą praktyki.
      <br>
      Przykładowy wygląd dokumentu znajduje się poniżej.
      <img class="my-2 img-fluid" src="./assets/img/zaswozatrudnieniu_przyklad.png" />
    </div>
  </div>

  <div class="card mb-2 howto">
    <div class="card-header border-bottom-0 howto-header" style="cursor: pointer;">10. Jak przesłać wypełniony dokument?</div>
    <div class="card-body howto-body" style="display: none;">
      Aby wysłać wypełniony dokument, należy go najpierw pobrać. Następnie wystarczy kliknąć przycisk "Wyślij wypełniony dokument" w podglądzie grupy.
      <img class="my-2 img-fluid" src="./assets/img/wyslijdokument_przycisk.png" />
      <br>
      Przekierowany(a) zostaniesz na stronę wysłania pliku. Może to być podpisany dokument w formie zdjęcia lub inna forma zdatna do potwierdzenia jej autentyczności.
      <br>
      <strong class="text-danger">Należy pamiętać o wybraniu dokumentu ze swojej grupy!</strong>
      <br>Wygląda to podobnie jak na obrazku poniżej.

      <img class="my-2 img-fluid" src="./assets/img/wysylanieprzykladowegodokumentu.png" />
    </div>
  </div>

</div>
