<form [formGroup]="diaryGroup" (ngSubmit)="onSubmit()">

  <div class="example text-center" style="margin-top: 100px">
    <h4 class="text-danger"> Wypełnij wysztykie pola zaznaczone Czerwoną kreską  <input class="example-invalid" disabled  size="4" /> aż zmienią sie na zielone <input class=" example-valid" disabled  size="4"/></h4>
  </div>

  <div class="container" >

    <hr>
    <div class="cross-validation" [class.cross-validation-error]="diaryGroup.errors?.identityRevealed && (diaryGroup.touched || diaryGroup.dirty)">
      <div class="form-group">
        <div class="fontSize">  Imię i nazwisko <br>
      <div class=" form-row">
        <div class=" form-group col-md-3">
          <input id="studentName" type="text" class="  form-control" formControlName="studentName" placeholder="First name" required/>
        </div>

            <div class="form-group col-md-3">
              <input type="text" class="form-control" formControlName="studentSurname" placeholder="Last name"
                     required/>
            </div>

          </div>
        </div>

        <div class=" form-row">
          <div *ngIf="studentName.invalid && (studentName.dirty || studentName.touched)"
               class="alert alert-danger form-group col-md-3">
            <div *ngIf="studentName.errors.required" class="text-center">

          <div class=" form-row">
        <div *ngIf="getstudentName.invalid && (getstudentName.dirty || getstudentName.touched)"
             class="alert alert-danger form-group col-md-3">
          <div *ngIf="getstudentName.errors.required"  class="text-center">

            Imie jest wymagane!
          </div>
        </div>
        <div  *ngIf="getstudentSurname.invalid && (getstudentSurname.dirty || getstudentSurname.touched)"
             class=" form-group col-md-3 alert alert-danger">
          <div *ngIf="getstudentSurname.errors.required" class="text-center">
            Nazwisko jest wymagane!
          </div>
        </div>

        <div class="fontSize"> Numer Albumu:<br>
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="number" formControlName="studentAlbumNumber" class="form-control"
                     placeholder="00000" required/>
            </div>

          </div>
        </div>

        <div class=" form-row">
          <div  *ngIf="getstudentAlbumNumber.invalid && (getstudentAlbumNumber.dirty || getstudentAlbumNumber.touched)"
                class=" form-group col-md-6 alert alert-danger">
            <div *ngIf="getstudentAlbumNumber.errors.required" class="text-center">
              Numer Albumu jest wymagany!
            </div>
          </div>
        </div>

        <div class="fontSize"> Nazwa Zakładu Pracy:<br>
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="text" class="form-control" formControlName="companyName" placeholder=".........." required/>
            </div>

          </div>
        </div>

        <div class=" form-row">
          <div  *ngIf="getcompanyName.invalid && (getcompanyName.dirty || getcompanyName.touched)"
                class=" form-group col-md-6 alert alert-danger">
            <div *ngIf="getcompanyName.errors.required" class="text-center">
              Nazwa Zakładu Pracy jest wymagana!
            </div>
          </div>
        </div>

        <div class="fontSize">Termin odbywania praktyki <br>
          <div class="form-row">
            <div class="form-group col-md-3">
              <input id="inputperiodFrom" class="form-control" type="date" #box (change)="onChange(box.value) "
                     formControlName="periodFrom" required>
            </div>
            -
            <div class="form-group col-md-3">
              <input id="inputperiodTo" class="form-control" type="date" #box1 (change)="onChange1(box1.value)"
                     formControlName="periodTo" required>
            </div>

          </div>
        </div>

        <div class=" form-row">
          <div *ngIf="getperiodFrom.invalid && (getperiodFrom.dirty || getperiodFrom.touched)"
               class="alert alert-danger form-group col-md-3">
            <div *ngIf="getperiodFrom.errors.required" class="text-center">

              Termin od jest wymagany!
            </div>
          </div>
          <div *ngIf="getperiodTo.invalid && (getperiodTo.dirty || getperiodTo.touched)"
               class=" form-group col-md-3 alert alert-danger">
            <div *ngIf="getperiodTo.errors.required" class="text-center">
              Termin do jest wymagany!
            </div>
          </div>
        </div>


      </div>
    </div>
    <div *ngIf="periodFrom!=null && periodTo!=null">
      <table class="table">

        <thead class="thead-dark">
        <tr>
          <th> Dzień tygodnia</th>
          <th> Data</th>
          <th> Opis wykonywanych prac, powierzonych obowiązków i pełnionych funkcji</th>
        </tr>
        </thead>
        <tbody formArrayName="diary" *ngFor="let item of diaryGroup.get('diary').controls; let i = index;">

        <tr [formGroupName]="i"
            [ngStyle]="item.controls.dayName.value == 'Sobota' && {'background-color':'gray'} || item.controls.dayName.value == 'Niedziela' && {'background-color':'gray'}">
          <td>
            <!--        <input formControlName="dayName" placeholder="">-->
            {{ item.controls.dayName.value }}

          </td>
          <td>
            <!--        <input formControlName="date" placeholder="" >-->
            {{ item.controls.date.value }}
          </td>
          <td>
            <textarea rows="2" cols="90" formControlName="text" placeholder="......."></textarea>
          </td>
        </tr>
        </tbody>

      </table>
      <div>
        <button [disabled]="diaryGroup.invalid" class="btn btn-success  btn-lg btn-block" type="submit">Wyślij</button>
      </div>
    </div>
  </div>

</form>
